<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div th:insert="template.html" ></div>





    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/formModApp/save1}" th:object="${t_apps}" >
            <div>
                <label for="appId"> </label>
                <input type="hidden" id="appId" class="form-control" th:field="*{appId}" readonly/>
            </div>
            <div>
                <label for="domaine">Domaine:</label>
                <input id="domaine" class="form-control" type="text" th:field="*{app_domaine}">
                <span th:errors="${t_apps.app_domaine}"> </span>
            </div>

            <div>
                <label for="version">Version:</label>
                <input id="version" class="form-control" type="text" th:field="*{app_version}" >
                <span th:errors="${t_apps.app_version}"> </span>
            </div>

            <div>
                <label for="help">Help:</label>
                <input id="help" class="form-control" type="text" th:field="*{app_help}" >
                <span th:errors="${t_apps.app_help}"> </span>
            </div>

            <div>
                <label for="auteur">Auteur:</label>
                <input id="auteur" class="form-control" type="text" th:field="*{app_auteur}" >
                <span th:errors="${t_apps.app_auteur}"> </span>
            </div>

            <div>
                <label for="creation">Date de création:</label>
                <input id="creation" class="form-control" type="date"  th:field="*{app_creation}">
                <span th:errors="${t_apps.app_creation}"> </span>
            </div>

            <div>
                <label for="modification">Date de modification:</label>
                <input id="modification" class="form-control" type="date" th:field="*{app_modification}" >
                <span th:errors="${t_apps.app_modification}"> </span>
            </div>

            <div>
                <label for="ouverture">Ouverture:</label>
                <input id="ouverture" class="form-control" type="text" th:field="*{app_ouverte}">
                <span th:errors="${t_apps.app_ouverte}"> </span>
            </div>

            <div>
                <label for="fermeture">Date de fermeture: </label>
                <input id="fermeture" class="form-control" type="date" th:field="*{app_dat_fermeture}" >
                <span th:errors="${t_apps.app_dat_fermeture}"> </span>
            </div>

            <div>
                <label for="type">Type de message:</label>
                <input id="type" class="form-control" type="text" th:field="*{app_typ_msg}">
                <span th:errors="${t_apps.app_typ_msg}"> </span>
            </div>


            <div>
                <label for="lib">lib:</label>
                <input id="lib" class="form-control" type="text" th:field="*{app_lib_msg}">
                <span th:errors="${t_apps.app_lib_msg}"> </span>
            </div>
            <div>
                <label for="lb">lb de message</label>
                <input id="lb" class="form-control" type="text" th:field="*{app_lb}">
                <span th:errors="${t_apps.app_lb}"> </span>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>


</body>
</html>
<br>
<footer class="bg-dark text-center text-lg-start bottom-0">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Lydec Siège:
        <a class="text-light" href="https://client.lydec.ma/site/fr/web/guest/nous-contacter"> 48 Rue Mohamed Diouri,Casablanca 20000</a>
    </div>

</footer>

