




<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des Profiles</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div th:insert="template.html" >  </div>
<h3>Liste des profiles</h3>
<div class="container mt-2">
    <div class="card">
        <div class="card-header">Liste des Profiles</div>
        <div class="card-body">
            <form method="get" th:action="@{formAjouProfUtil.html}">
                <label>Keyword</label>
                <input type="text" name="keyword" th:value="${Keyword}">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </form>

            <form method="post" th:action="@{'/formAjouProfUtil/' + ${matr} + '/associer'}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>nom</th>
                        <th>Associer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Br, rowStat : ${listProfils}">
                        <td th:text="${Br.profNum}"></td>
                        <td th:text="${Br.prof_nom}"></td>
                        <td>
                            <input type="checkbox" th:id="'checkbox_' + ${rowStat.index}" name="selectedProfils" th:value="${Br.profNum}" />
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Associer aux utilisateur</button>


            </form>




            <ul class="nav nav-pills">
                <li th:each="page, status : ${pages}">
                    <a th:class="${status.index == currentPage ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'}"
                       th:text="${status.index}"
                       th:href="@{Actions (page=${status.index}, Keyword=${Keyword})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>

<script>
    function submitForm() {
        var form = document.getElementById('associerForm');
        var selectedProfils = document.getElementsByName('selectedProfils');
        selectedProfils.forEach(function (profil) {
            if (profil.checked) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'selectedProfils';
                input.value = profil.value;
                form.appendChild(input);
            }
        });


        document.getElementById('matrInput').value = matrValue;

        form.submit();
    }
</script>

<footer class="bg-dark text-center text-lg-start fixed-bottom">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Lydec Siège:
        <a class="text-light" href="https://client.lydec.ma/site/fr/web/guest/nous-contacter"> 48 Rue Mohamed Diouri,Casablanca 20000</a>
    </div>

</footer>
